name: Publish SHRY distributions to test-PyPI
on:
  push:
    branches: [ "rc" ]

jobs:
  deploy-test-pypi:
    if: github.repository == 'shry-project/SHRY'

    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v3
        with:
            fetch-depth: 0

      - name: Set up Python 3.11
        uses: actions/setup-python@v3
        with:
            python-version: '3.11'

      - name: Install pypa/build
        run: |
          python -m pip install --upgrade pip
          python -m pip install setuptools setuptools_scm wheel
          python setup.py sdist bdist_wheel

      - name: Publish distribution to Test PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
            user: __token__
            password: ${{ secrets.TEST_PYPI_SHRY_TOKEN }}
            repository-url: https://test.pypi.org/legacy/
            verbose: true